.sequence-btn-wrapper {
  position: relative;
  display: grid;
  grid-template-columns: repeat(7, 50px);
  float: left;
  margin: 10px 0px;
  width: 100%;
}

.sequence-btn {
  position: relative;
  width: 25px;
  margin: 0px 30px 0px 0px;
  opacity: 0.7;
  transition: 0.25s ease;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  transition: 0.25s ease;
  cursor: pointer;
}

.sequence-btn:hover {
  opacity: 1.0;
}

.delete-btn {
  top: 10px;
  height: 8px;
}

.clear-btn {
  top: -5px;
  left: -5px;
  width: 40px;
}
