:root {
  --step-width: 68px;
  --step-height: 68px;
}

.sequence {
  top: 0px;
  left: 200px;
  height: 150px;
  width: 100%;
  padding: 10px 0px 20px 0px;

  z-index: 11;
}

.sequence-top {
  margin-bottom: 10px;
  height: 50px;
}


.delete-btn {
  top: 10px;
  height: 8px;
}

.drop-zone {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 60px;
  background: darkgreen;
  margin: 15px 0px 15px 0px;
  float: left;
}

.topbar-clear-btn {
  top: 50px;
  right: 40px;
}

.topbar-save-btn {
  top: 25px;
  right: 40px;
}
