.sequence {
  width: 85vw;
  padding-bottom: 20px;
  z-index: 11;
}

.sequence-top {
  height: 50px;
  margin: 30px 50px 0px 0px;
}

.sequence-title {
  position: relative;
  float: left;
  text-align: left;
  top: 5px;
  right: 0px;
  font-size: 18px;
  background:none;
  color: var(--skel_text_color);
  border: none;
}

.sequence-title:focus-visible {
  outline: none;
}

.step-name {
  width: 62px;
  font-size: 16px;
  padding: 4px;
  margin: 10px 0px 0px 30px;
  background: none;
  border: none;
  color: var(--skel_text_color);
  background: rgba(0, 0, 0, 0.1);
}

.step-name:focus-visible {
  outline: none;
}

.fretboard-btn-wrapper {
  position: relative;
  display: inline-block;
  float: right;
  width: 150px;
}

.fretboard-btn {
  position: relative;
  display: inline-block;
  float: right;
  margin-left: 20px;
  cursor: pointer;
  opacity: 0.7;
  transition: 0.3s ease;
}

.fretboard-btn:hover {
  opacity: 1.0;
}

.clear-frets-btn {
  top: 8px;
}

.button-text {
  height: 20px;
  margin: 0px 0px 10px 30px;
}
