.title-wrapper {
  height: 30px;
}

.song-title {
  position: relative;
  float: left;
  text-align: left;
  top: 0px;
  right: 0px;
  font-size: 18px;
  margin-bottom: 20px;
  background:none;
  color: var(--skel_text_color);
  border: none;
}

.song-title:focus-visible {
  outline: none;
}
