.jb-song {

}

.song {
  display: grid;
  grid-template-rows: 3;
  align-items: center;
  justify-content: left;
  margin-bottom: 40px;
}

.song-title {
  cursor: pointer;
}

.song-steps-wrapper {
  display: none;
  width: 100%;
  overflow-x: scroll;
}

.song-steps-wrapper::-webkit-scrollbar {
  display: none;
}

.song-steps {
  height: 50px;
}

.song-lyrics-wrapper {
  height: auto;
  display: none;
}
