.key-list {
  position: absolute;
  float: right;
  right: 0px;
  left: inherit;
  background: var(--dark-bg);
  z-index: 10;
}

.key-btn {
  cursor: pointer;
}

.nav-key {
  font-size: 14px;
  padding-top: 10px;
  cursor: pointer;
  opacity: 0.7;
  transition: 0.25s ease;
}

.nav-key:hover {
  opacity: 1;
}
