body {
  overflow-y: scroll;
}

.jambook {
  position: relative;
  display: grid;
  grid-template-columns: 70vw 20vw;
  margin: 0 auto;
  width: 90%;
}

.jambook-ui {

  float: left;
}

.jambook-left {

}

.jambook-right {

}
