.menu-title {
  position: relative;
  float: left;
  top: 15px;
  font-size: 18px;
  background: none;
  color: var(--skel_text_color);
  border: none;
}

.menu-select {
  display: grid;
  grid-template-columns: repeat(2, 50%);
}

.menu-img-wrapper {
  display: flex;
  align-items: center;
  justify-content: left;
}

.menu-img {
  width: 25px;
}
