<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
  <title>Jahmon</title>
</head>
<body>
  <form action="/save" method="POST">
    <h1>Form</h1>
    <input name="name">
    <input name="step">
    <input name="step">
    <input name="noteids">
    <input name="noteids">
    <input name="mode">
    <input name="mode">
    <input name="fretnums">
    <input name="fretnums">
    <button type="submit" id="submit">Submit</button>
  </form>
</body>
</html>
