<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
  <title>Jahmon - Login</title>
  <link rel="icon" size="310x310" href="images/logo 2.svg">
  <link rel="icon" size="310x310" href="img/icons/jo-logo-white.svg">
  <link rel="stylesheet" type="text/css" href="css/register.css">
</head>
<body>
  <div class="login-nav-bar">Jahmon</div>

  <div class="login-content signup-login-content">
    <h1 class="login-title">Log in</h1>
    <form class="login-form" action="/login" method="POST">
      <div class="form-group">
        <label class="login-form-label" for="email">Email</label>
        <input class="login-form-input" type="email" name="email" id="email">
      </div>
      <div class="form-group">
        <label class="login-form-label" for="password">Password</label>
        <input class="login-form-input" type="password" name="password" id="password">
        <a class="forgot-password-btn" href="/password-reset">Forgot password?</a>
      </div>
      <button class="login-submit-btn" type="submit" id="submit">Log in</button>
      <a class="login-signup-btn" href="/signup">Sign up</a>
      <% if (error != '') { %>
        <p class="error-msg"><%= error %></p>
      <% } %>
    </form>
  </div>

  <script type="text/javascript">
    function toHome() {
      window.location = '/';
    }
    document.getElementsByClassName('signup-login-content')[0].style.display = 'block';
  </script>
</body>
</html>
