<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
  <title>Jahmon - Reset Password</title>
  <link rel="icon" size="310x310" href="images/logo 2.svg">
  <link rel="icon" size="310x310" href="img/icons/jo-logo-white.svg">
	<link rel="stylesheet" type="text/css" href="css/register.css">
</head>
<body>
  <div class="login-nav-bar">Jahmon</div>

  <div class="signup-content signup-login-content">
    <h1 class="login-title">Reset Password</h1>
    <form class="login-form" action="/signup" method="POST">
      <div>Page under development</div><br>
      <a class="login-signup-btn" href="/login">Log in</a>
    </form>
  </div>

  <script type="text/javascript">
    function toHome() {
      window.location = '/';
    }
    document.getElementsByClassName('signup-login-content')[0].style.display = 'block';
  </script>
</body>
</html>
