<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
  <title>Niheigo - Signup</title>
  <link rel="icon" size="310x310" href="images/logo 2.svg">
	<link rel="stylesheet" type="text/css" href="css/register.css">
</head>
<body>
  <div class="login-nav-bar">Jahmon</div>

  <div class="signup-content signup-login-content">
    <h1 class="login-title">Sign up</h1>
    <form class="login-form" action="/signup" method="POST">
      <div class="form-group">
        <label class="login-form-label" for="username">Username</label>
        <input class="login-form-input" type="username" name="username" id="username">
      </div>
      <div class="form-group">
        <label class="login-form-label" for="email">Email</label>
        <input class="login-form-input" type="email" name="email" id="email">
      </div>
      <div class="form-group">
        <label class="login-form-label" for="password">Password</label>
        <input class="login-form-input" type="password" name="password" id="password">
      </div>
      <button class="login-submit-btn" type="submit" id="submit">Sign up</button>
      <a class="login-signup-btn" href="/login">Log in</a>
      <% if (typeof data.errors == 'object') { %>
        <p class="error-msg"><%= data.errors[0].msg %></p>
      <% } %>
    </form>
  </div>

  <script type="text/javascript">
    function toHome() {
      window.location = '/';
    }
    document.getElementsByClassName('signup-login-content')[0].style.display = 'block';
  </script>
</body>
</html>
