body {
  background: lightgray;
}
.jel {
  position: absolute;
  display: block;
}

/* topbar */
.topbar {
  top: 0px;
  left: 0px;
  height: 100px;
  background: lightgreen;
  width: 100%;
}

.current-title {
  position: absolute;
  left: 80px;
  top: 40px;
}

.sequence-wrapper {
  position: absolute;
  left: 250px;
}

.seq-step {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 60px;
  border-radius: 8px;
  margin: 15px 20px 15px 0px;
  background: white;
  text-align: center;
  float: left;
}

.drop-zone {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 60px;
  background: darkgreen;
  margin: 15px 0px 15px 0px;
  float: left;
}

.topbar-clear-btn {
  top: 50px;
  right: 40px;
}

.topbar-save-btn {
  top: 25px;
  right: 40px;
}

/* sidebar */
.sidebar {
  top: 100px;
  left: 0px;
  height: calc(100vh - 100px);
  width: 200px;
  background: pink;
}

.sidebar-title {
  text-align: center;
}

.saved-sequences {
  padding-top: 20px;
}

.sequence {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
  background: lavender;
  border-radius: 8px;
  text-align: center;
}

.sequence-title {
  position: relative;
  top: 40px;
}

/* fretboard */
.fretboard {
  top: 200px;
  left: 250px;
  width: calc(100vw - 300px);
  background: lightblue;
}

.string-row {
  position: relative;
  width: 100%;
  height: 40px;
}

.string-div {
  position: absolute;
  height: 2px;
  background: gold;
  width: 100%;
  top: 20px;
  z-index: 1;
}

.fret {
  position: relative;
  display: inline-block;
  float: left;
  width: calc(100% / 25);
  height: 40px;
  background: tan;
  border-left: 1px solid lightgray;
  transition: 0.5s ease;
}

.fret:hover {
  background: lightgray;
  cursor: pointer;
}

.fret-note {
  position: absolute;
  display: none;
  margin: 0 auto;
  background: black;
  top: 10px;
  width: 22px;
  height: 22px;
  left: 0px;
  right: 0px;
  border-radius: 50%;
  z-index: 2;
}

.fret-circle {
  position: absolute;
  display: block;
  top: -8px;
  width: 18px;
  height: 18px;
  margin: 0 auto;
  left: 0px;
  right: 0px;
  background: rgba(235, 235, 235, 1);
  border-radius: 50%;
  z-index: 1;
}

.fret-circle-12_1 {
  top: -88px;
}

.fret-circle-12_2 {
  top: 72px;
}

.fretboard-top-btn {
  top: 150px;
}

.fretboard-bottom-btn {
  top: 510px;
}

.chord-btn {
  left: 250px;
}

.riff-btn {
  left: 330px;
}

.set-btn {
  left: 250px;
}

.clear-btn {
  left: 300px;
}

.finish-btn {
  left: 360px;
}

/* save form */
.save-form {
  position: absolute;
  display: none;
  margin: 0 auto;
  padding: 20px;
  width: 400px;
  height: 400px;
  left: 0px;
  right: 0px;
  top: 180px;
  background: white;
  box-shadow: 0px 0px 14px darkgray;
  text-align: center;
  z-index: 2;
}

.save-input {
  position: relative;
  display: none;
  margin: 0 auto;
}

.title-input {
  display: block;
}
