.mode-title {
  position: relative;
  top: 15px;
}

.mode-toggle {
  float: left;
  margin-top: 8px;
  border-radius: 6px;
  margin-right: 10px;
}

.mode-trail {
  position: relative;
  top: 10px;
  width: 20px;
}

.mode-toggle-btn {
  padding: 3px 0px;
  cursor: pointer;
  transition: 0.25s ease;
  text-align: left;
}

.mode-toggle-btn:hover {
  color: var(--skel_text_color);
}

.chord-btn {
  color: var(--skel_text_color);
}

.riff-btn {
  color: #434343;
}
