.mode-wrapper {
  position: relative;
  margin: 20px 0px;
  display: inline-block;
}

.mode-title {
  position: relative;
  top: -10px;
}

.mode-toggle {
  float: left;
  border-radius: 6px;
  margin-right: 10px;
}

.mode-trail {
  position: relative;
  width: 20px;
}

.mode-btn {
  position: relative;
  top: -10px;
  padding: 3px 0px;
  cursor: pointer;
  transition: 0.25s ease;
  text-align: left;
  color: #434343;
}

.mode-btn:hover {
  color: var(--skel_text_color);
}

.active-mode {
  color: var(--skel_text_color);
}
