.fretboard-btn-wrapper {
  position: relative;
  display: inline-block;
  float: right;
  width: 150px;
}

.fretboard-btn {
  position: relative;
  display: inline-block;
  float: right;
  margin: 10px 0px 0px 20px;
  cursor: pointer;
  opacity: 0.7;
  transition: 0.3s ease;
}

.fretboard-btn:hover {
  opacity: 1.0;
}

.fb-clear-btn {
  top: 8px;
}
