.fretboard-btn-wrapper {
  position: relative;
  float: right;
  top: 15px;
}

.fretboard-btn {
  display: inline-block;
  margin-left: 20px;
  width: 25px;
  cursor: pointer;
  opacity: 0.7;
  transition: 0.3s ease;
}

.fretboard-btn:hover {
  opacity: 1.0;
}
