.db-sequences {
  position: relative;
  height: 40vh;
  border-right: 1px solid var(--dark-divider);
  border-bottom: 1px solid var(--dark-divider);
}

.saved-sequences {
  margin-top: 20px;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
  height: calc(40vh - 55px);
}

.db-sequence {
  position: relative;
  display: block;
  padding: 10px 0px 10px 30px;
  border-top: 1px solid rgba(0, 0, 0, 0);
  border-bottom: 1px solid rgba(0, 0, 0, 0);
  cursor: pointer;
  transition: 0.25s ease;
}

.db-sequence:hover {
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}

.saved-sequences::-webkit-scrollbar {
  display: none;
}
