.step-form-view {
  width: 400px;
  grid-template-columns: 200px 100px;
}

.step-name-label {
  padding: 4px;
  margin-right: 10px;
  text-align: right;
  font-size: 20px;
}

.step-name-input {
  background: none;
  color: var(--skel_text_color);
  padding: 4px;
  border: none;
  border-bottom: 1px solid var(--skel_text_color);
  font-size: 20px;
}

.step-name-input:focus-visible {
  outline: none;
}
