.fretboard {
    margin: 30px 0px 50px 0px;}

.fretboard-top {
  height: 60px;
}

.mode-title {
  position: relative;
  top: 15px;
}

.mode-toggle {
  float: left;
  margin-top: 8px;
  border-radius: 6px;
  margin-right: 10px;
}

.mode-trail {
  position: relative;
  top: 10px;
  width: 20px;
}

.mode-toggle-btn {
  padding: 3px 0px;
  cursor: pointer;
  transition: 0.25s ease;
  text-align: left;
}

.toggle-mode-btn:hover {
  background: white;
}

/* .chord-btn {
  border-top-left-radius: 6px 6px;
  border-bottom-left-radius: 6px 6px;
  background: white;
}

.riff-btn {
  border-top-right-radius: 6px 6px;
  border-bottom-right-radius: 6px 6px;
  background: var(--skel_sel_color);
} */

.action-btn {
  display: inline-block;
  margin: 8px 10px;
}

.the-fretboard {
  position: relative;
  margin: 20px 0px 0px 30px;
  width: calc(100% - 80px);
}

.string-row {
  position: relative;
  display: grid;
  grid-template-columns: repeat(23, calc(100% / 23));
  width: 100%;
  height: 30px;
}

.small-e-string {
  border-top: 1px solid var(--dark-divider);
}

.big-e-string {
  border-bottom: 1px solid var(--dark-divider);
}

.string-div {
  position: absolute;
  top: 15px;
  height: 2px;
  width: calc(100% - 20px);
  margin-left: 20px;
  background: var(--skel_text_color);
  z-index: 1;
}

.fret {
  position: relative;
  display: inline-block;
  float: left;
  width: 100%;
  height: 30px;
  border-left: 1px solid var(--dark-divider);
  transition: 0.5s ease;
  z-index: 2;
  opacity: 1.0;
}

.fret:hover {
  opacity: 0.7;
  background: lightgray;
  cursor: pointer;
}

.fret-note {
  position: absolute;
  display: none;
  margin: 0 auto;
  background: red;
  top: 8px;
  width: 18px;
  height: 18px;
  left: 0px;
  right: 0px;
  border-radius: 50%;
  z-index: 15;
}

.fret-open {
  background: var(--skel_text_color);
}

.riff-note {
  top: 4px;
  display: block;
  padding: 4px;
  text-align: center;
  background: var(--dark-bg);
}

.note-input {
  width: 100%;
  background: black;
  color: white;
  text-align: center;
}

.riff-numbers-wrapper {
  position: relative;
  left: 30px;
  width: 90%;
  height: 40px;
  margin-top: 10px;
  opacity: 1;
  transition: 0.5s ease;
}

.riff-number {
  position: relative;
  width: 22px;
  height: 22px;
  padding: 1px;
  margin: 10px 10px 10px 0px;
  border-radius: 50%;
  color: var(--skel_text_color);
  text-align: left;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  float: left;
  cursor: pointer;
}

.add-to-lib-form {
  display: none;
}

.tolib-btn {
  top: 330px;
  left: 30px;
  width: 140px;
}

.tolib-input {
  top: 330px;
  left: 200px;
}

.lib-type-input {
  display: none;
}

.lib-noteids-input {
  display: none;
}



.note-bubble-fret {
  float: none;
  margin: 0 auto;
  top: 3px;
}

.trash-bin {
  background: white;
  width: 30px;
  height: 30px;
  top: -5px;
  float: right;
}

.fret-circle {
  position: absolute;
  display: block;
  top: -8px;
  width: 18px;
  height: 18px;
  margin: 0 auto;
  left: 0px;
  right: 0px;
  background: rgba(235, 235, 235, 1);
  border-radius: 50%;
  z-index: 1;
  opacity: 1;
  transition: 0.5s ease;
}

.fret-circle-12_1 {
  top: -38px;
}

.fret-circle-12_2 {
  top: 22px;
}

.set-btn {
  left: 250px;
}

.clear-btn {
  left: 300px;
}

.finish-btn {
  left: 360px;
}
