.fretboard {
  margin: 20px 0px 20px 0px;
}

.fretboard-top {
  margin: 0px 50px 0px 30px;
  height: 50px;
}

.toggle-mode-btn:hover {
  background: white;
}

.action-btn {
  display: inline-block;
  margin: 8px 10px;
}

.add-to-lib-form {
  display: none;
}

.tolib-btn {
  top: 330px;
  left: 30px;
  width: 140px;
}

.tolib-input {
  top: 330px;
  left: 200px;
}

.lib-type-input {
  display: none;
}

.lib-noteids-input {
  display: none;
}

.note-bubble-fret {
  float: none;
  margin: 0 auto;
  top: 3px;
}

.trash-bin {
  background: white;
  width: 30px;
  height: 30px;
  top: -5px;
  float: right;
}

.fret-circle {
  position: absolute;
  display: block;
  top: -8px;
  width: 18px;
  height: 18px;
  margin: 0 auto;
  left: 0px;
  right: 0px;
  background: rgba(235, 235, 235, 1);
  border-radius: 50%;
  z-index: 1;
  opacity: 1;
  transition: 0.5s ease;
}

.fret-circle-12_1 {
  top: -38px;
}

.fret-circle-12_2 {
  top: 22px;
}

.set-btn {
  left: 250px;
}

.clear-btn {
  left: 300px;
}

.finish-btn {
  left: 360px;
}
