.carousel {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-top: 20px;
}

.caro-inner {
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.prev {	
	position: relative;
	margin-right: 30px;
	top: 40px;
}

.next {
	position: relative;
	margin-left: 20px;
	top: 40px;
	z-index: 100;
}

.caro-top {
	display: relative;
	width: 100%;
}

.progression {
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.segment {
	width: 20px;
	height: 6px;
	margin: 4px;
	border: 1px solid var(--skel_text_color);
	border-radius: 5px;
	background: none;
	transition: 0.25 ease;
}

.active-segment {
	background: lightgreen;
}