@import url('https://fonts.googleapis.com/css?family=Nunito|Comfortaa&display=swap');

:root {
  --c1: #2B2B2B;
  --c2: #FFFFFF;
}

body {
  font-family: 'Comfortaa';
  margin: 0;
  padding: 0px;
  background: var(--c1);
  color: var(--c2);
  overflow-x: hidden;
}

.app-title {
	text-align: center;
}

.diagram-wrapper {
	position: relative;
	display: block;
	margin: 0 auto;
	margin-bottom: 40px;
}