.chordbook {
	display: flex;
	flex-direction: column;
	grid-template-columns: repeat(4, 20vw);
}

.chords-title {
	text-align: center;
	margin-bottom: 20px;
}

.selection-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 20px;
}

.selection-input {
	position: relative;
	display: block;
	padding: 10px 0px;
	margin: 0 auto;
	border: none;
	border-bottom: 1px solid var(--c2);
	background: none;
	color: var(--c2);
}

.key-list {
  position: absolute;
  display: flex;
  background: var(--dark-bg);
  z-index: 10;
}

.key-btn {
  cursor: pointer;
}

.nav-keys {
	width: 100vw;
	display: flex;
	flex-direction: row;
	align-content: flex-start;
	justify-content: space-evenly;
	align-items: center;
}

.nav-key {
  font-size: 14px;
  padding-top: 10px;
  cursor: pointer;
  opacity: 0.7;
  transition: 0.25s ease;
}

.nav-key:hover {
  opacity: 1;
}

.chords {
	display: grid;
	grid-template-columns: repeat(4, 20vw);
	margin-top: 40px;
	justify-content: center;
}