.steps-wrapper {
  position: relative;
  margin-left: 30px;
  width: calc(100% - 80px);
  height: 70px;
  background: rgba(0, 0, 0, 0.1);
  overflow-x: scroll;
  overflow-y: hidden;
}

.steps-wrapper::-webkit-scrollbar {
  display: none;
}
