.steps {
  position: relative;
  width: 100%;
  height: 100px;
  margin-top: 38px;
  border: 1px solid var(--skel_text_color);
  overflow-x: scroll;
  overflow-y: hidden;
}

.steps-wrapper {
  position: relative;
  width: 100%;
  height: 100px;
  background: #202020;
}

.steps::-webkit-scrollbar {
  display: none;
}
