.settings {
  position: absolute;
  top: 150px;
  left: 0px;
  right: 0px;
  margin: 0 auto;
  display: block;
  height: 400px;
  width: 400px;
  padding: 20px;
  color: var(--skel_text_color);
}

.username {
  position: relative;
  float: left;
  width: 100%;
}

.logout-btn {
  position: relative;
  width: 100%;
  margin-top: 20px;
  float: left;
  color: var(--skel_text_color);
  text-decoration: none;
}

.logout-btn:hover {
  text-decoration: underline
}

.settings-btn {
  position: relative;
  bottom: 0px;
  padding: 10px 20px;
  background: #666666;
  border: none;
  border-radius: 8px;
  margin-top: 10px;
  font-size: 18px;
  color: var(--skel_text_color);
  transition: 0.3s ease;
  cursor: pointer;
}

.settings-btn:hover {
  background: #414141;
}

.close-settings-btn {
  position: absolute;
  float: right;
  right: 20px;
  top: 30px;
  border: none;
  background: none;
  color: var(--skel_text_color);
  font-size: 24px;
  cursor: pointer;
}

.delete-wrapper {
  display: flex;
  width: 100%;
  justify-content: left;
  align-content: center;
  flex-direction: row;
  transition: 0.3s ease;
}

.delete-song-btn {
  position: relative;
  float: left;
  background: #986565;
}

.delete-song-btn:hover {
  background: #be8888;
}

.song-name {
  position: relative;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  float: left;
  margin-left: 20px;
  padding-top: 10px;
}
