.the-fretboard {
  position: relative;
  margin: 20px 0px 0px 30px;
  width: calc(100% - 80px);
}

.string-row {
  position: relative;
  display: grid;
  grid-template-columns: repeat(23, calc(100% / 23));
  width: 100%;
  height: 30px;
}

.string-div {
  position: absolute;
  top: 15px;
  height: 2px;
  width: calc(100% - 20px);
  margin-left: 20px;
  background: var(--skel_text_color);
  z-index: 1;
}

.small-e-string {
  border-top: 1px solid var(--dark-divider);
}

.big-e-string {
  border-bottom: 1px solid var(--dark-divider);
}

.small-e-riff {
  border-top: 1px solid rgba(0, 0, 0, 0);
}

.big-e-riff {
  border-bottom: 1px solid rgba(0, 0, 0, 0);
}

.fret {
  position: relative;
  display: inline-block;
  float: left;
  width: 100%;
  height: 30px;
  /* border-left: 1px solid var(--dark-divider); */

  transition: 0.5s ease;
  z-index: 2;
  opacity: 1.0;
}

.fret:hover {
  opacity: 0.7;
  background: lightgray;
  cursor: pointer;
}

.fret-chord {
  border-left: 1px solid var(--dark-divider);
}

.fret-riff {
  border-left: 1px solid rgba(0, 0, 0, 0);
}

.fret-note {
  position: absolute;
  display: none;
  margin: 0 auto;
  background: red;
  top: 8px;
  width: 18px;
  height: 18px;
  left: 0px;
  right: 0px;
  border-radius: 50%;
  z-index: 15;
}

.fret-open {
  background: var(--skel_text_color);
}

.fret-circle {
  position: absolute;
  display: block;
  top: -8px;
  width: 18px;
  height: 18px;
  margin: 0 auto;
  left: 0px;
  right: 0px;
  background: #434343;
  border-radius: 50%;
  z-index: 1;
  opacity: 1;
  transition: 0.5s ease;
}

.fret-circle-12_1 {
  top: -38px;
}

.fret-circle-12_2 {
  top: 22px;
}
